<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ng-container *ngFor="let message of messages | async">
    <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                        'to': message.sentBy === 'user' }">
    {{ message.content }}
    </div>
  </ng-container>
  
  <label for="nameField">Your Message</label>
  
  <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">
  <button (click)="sendMessage()">Send</button>

  <ng-container *ngFor="let answer of answers | async">
    <div class="answer" >
    {{ answer }}
    </div>
  </ng-container>
</ion-content>

<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>

